h1 {
    font-family: "Bungee Shade", sans-serif;
    font-size: 100px;
    text-align: center;
    color: rgba(255, 255, 255, 0.865);

}
body {
    background-image: url(BLA.jpg);
    background-size: cover;
    background-attachment: fixed;
}
p {
    font-family: "DynaPuff", system-ui;
    font-size: 30px;
     background-color: rgba(255, 255, 255, 0.884);
    margin: 30px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px 8px #00000098;
    width: 500px;
}
ul {
    font-family: "DynaPuff", system-ui;
    font-size: 30px;
    text-align: center;
    list-style-type: none;
    font-weight: 600;
}
.class {
    background-color: rgba(241, 230, 215, 0.832);
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px 8px #00000098;
    float: left;
    width: 400px;
}

.video {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    }

.video1 {
    width: 600px;
    margin: 10px;
}

.class:hover {
    background-color: rgba(196, 178, 156, 0.634);
    border-radius: 10px;
    cursor: pointer;
    width: 500px;
    transition: all 0.7s;
    box-shadow: 10px 10px 8px 8px #00000098
  
}
a {
    list-style-type: none;
    color: black;
}
.foodie {
    float: left;
    margin-right: 20px;
}
img {

    width: 300px;
    border-radius: 20px;
}
button {
    font-family: "DynaPuff", system-ui;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.915);
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px 8px #00000098;
    width: 200px;
   
    }
    button:hover {
        background-color: rgba(168, 168, 168, 0.634);
        border-radius: 10px;
        cursor: pointer;
        width: 300px;
        transition: all 0.7s;
        box-shadow: 10px 10px 8px 8px #00000098;
      
    }
h2 {
    font-family: "Bungee Shade", sans-serif;
    font-size: 80px;
    text-align: center;
    color: rgba(241, 230, 215, 0.897);
}

h3 {
    
        text-align: center;
        font-size: 50px;
        font-family: "Leckerli One", cursive;
        color:rgba(196, 178, 156, 0.634) ;

}
.box {
    padding:5px;
    box-shadow: 10px 10px 8px 8px #00000098;
    background-color: rgba(0, 0, 0, 0.959);
    margin-bottom: 20px;
    border-radius: 20px;
}
.waf {
    float: right;
    margin-right: 600px;
 }
 .photo {
    width: 500px;
}
.pop {
    margin-top: 100px;
    padding:2px;
    box-shadow: 10px 10px 8px 8px #00000098;
    background-color: rgba(0, 0, 0, 0.959);
    border-radius: 20px;

}
